In [1]:
import pandas as pd

In [2]:
help(pd.join())

AttributeError: module 'pandas' has no attribute 'join'

In [4]:
data = {
    'col1':[1,2],
    'col2':[3,4]
} 
df = pd.DataFrame(data)

In [7]:
data1 = {
    'col1':[1,2],
    'col2':[3,4]    
}

df2 = pd.DataFrame(data1)
pd.concat([df,df2])

   col1  col2
0     1     3
1     2     4
0     1     3
1     2     4

In [ ]:
df.join(df2)