In [1]:
import pandas as pd

data = {
    "calories":[1,2,3],
    "duration":[12,24,36]
}


data1 = {
    "calries":[1,2,3],
    "duration":[13,25,37]
}

df = pd.DataFrame(data)
df1 = pd.DataFrame(data1)
df1

   calries  duration
0        1        13
1        2        25
2        3        37

In [4]:
for column in df:
    print(df[column].unique())

[1 2 3]
[12 24 36]

Merge Datasets

In [17]:
#Concat dataframes (end to end)
df2 = pd.concat([df,df1],ignore_index=True,axis=1)
df2

   0   1  2   3
0  1  12  1  13
1  2  24  2  25
2  3  36  3  37

In [ ]:
help(pd.concat([df1,df2]))

JOIN METHOD

In [2]:
df = pd.DataFrame({
    "key":['K0','K1','K2','K3','K4','K5'],
    "A":['A0','A1','A2','A3','A4','A5']
})

In [3]:
other = pd.DataFrame({
    "key":['K0','K1','K2'],
    "B":['B0','B1','B2']
})

In [18]:
df.join(other)

ValueError: columns overlap but no suffix specified: Index(['key'], dtype='object')

In [7]:
df.join(other,lsuffix='_caller')

  key_caller   A  key    B
0         K0  A0   K0   B0
1         K1  A1   K1   B1
2         K2  A2   K2   B2
3         K3  A3  NaN  NaN
4         K4  A4  NaN  NaN
5         K5  A5  NaN  NaN

In [13]:
df_res = df.join(other,lsuffix='_caller',rsuffix='_other')
df_res

  key_caller   A key_other    B
0         K0  A0        K0   B0
1         K1  A1        K1   B1
2         K2  A2        K2   B2
3         K3  A3       NaN  NaN
4         K4  A4       NaN  NaN
5         K5  A5       NaN  NaN

In [29]:
df1 = pd.DataFrame({
    "A":['A0','A1','A2'],
    "B":['B0','B1','B2']},
    index=['K0','K1','K2'])

In [38]:
other1 = pd.DataFrame({
    "C":['C0','C2','C3'],
    "D":['D0','D2','D3']
},index=['K0','K2','K3'])

other1

     C   D
K0  C0  D0
K2  C2  D2
K3  C3  D3

In [58]:
df_res = df1.merge(other1,how="left")
df_res

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False

In [32]:
df_res = df1.join(other1)
df_res

     A   B    C    D
K0  A0  B0   C0   D0
K1  A1  B1  NaN  NaN
K2  A2  B2   C2   D2

In [34]:
for i in df_res:
    print(df_res[i])

K0    A0
K1    A1
K2    A2
Name: A, dtype: object
K0    B0
K1    B1
K2    B2
Name: B, dtype: object
K0     C0
K1    NaN
K2     C2
Name: C, dtype: object
K0     D0
K1    NaN
K2     D2
Name: D, dtype: object

In [47]:
technologies = {
    'Courses':["Spark","PY1","PY2","PY3"],
    'Fee':[2000,2500,3000,3500],
    'Duration':['30Days','40','50','60']
}
index_labels = ['r1','r2','r3','r4']
df2 = pd.DataFrame(technologies,index=index_labels)

In [61]:
technologies2 = {
    'Courses':["Spark","PY4","PY2","PY5"],
    'Fee':[2000,2500,3000,3500]
}
index_labels2 = ['r1','r6','r3','r5']
df3 = pd.DataFrame(technologies2,index=index_labels2)

In [56]:
df4 = df2.join(df3,lsuffix="_left",rsuffix="_right")
df4

   Courses_left  Fee_left Duration Courses_right  Fee_right
r1        Spark      2000   30Days         Spark     2000.0
r2          PY1      2500       40           NaN        NaN
r3          PY2      3000       50           PY2     3000.0
r4          PY3      3500       60           NaN        NaN

In [64]:
df4 = pd.merge(df2,df3,on='Courses')
df4

  Courses  Fee_x Duration  Fee_y
0   Spark   2000   30Days   2000
1     PY2   3000       50   3000