In [1]:
import pandas as pd

In [15]:
series1 = pd.Series([000, 111, 222, 333], index=['zeros','ones',
'twos', 'threes'])
series2 = pd.Series([444, 555, 666], index=['fours', 'fives',
'sixes'])
frame2 = pd.concat(objs=[series1, series2] ,keys=['Number1', 'Number2'])
frame2.unstack()

         fives  fours   ones  sixes  threes   twos  zeros
Number1    NaN    NaN  111.0    NaN   333.0  222.0    0.0
Number2  555.0  444.0    NaN  666.0     NaN    NaN    NaN